<template>
  <v-container>
    <h3 class="text-xs-left">Boats</h3>
    <v-card>
      <v-card-title>
        <v-container fluid grid-list-xl>
          <v-layout>
            <v-flex xs12 sm6 d-flex>
              <v-select
                v-model="orderByItem"
                :items="orderingBySelect"
                label="Order By"
                solo
                @change="getBoats"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
                @keydown="keydownSearch"
                @keyup="keyupSearch"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="boats"
        :loading="loadingSearch"
      >
        <v-progress-linear v-slot:progress color="blue" indeterminate v-if="loadingSearch"></v-progress-linear>
        <template v-slot:items="props">
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.status }}</td>
          <td>{{ props.item.type }}</td>
          <td>{{ props.item.port }}</td>
          <td>{{ props.item.country }}</td>
          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click="viewItem(props.item)"
            >
              info
            </v-icon>
          </td>
        </template>
        <v-alert v-slot:no-results :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" max-width="500px" persistent>
      <v-card>
        <v-card-title>
          <span class="headline">Name: {{ dialogData.name }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-list>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Id:</strong> {{dialogData.id}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Type:</strong> {{dialogData.type}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Port:</strong> {{dialogData.port}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Country:</strong> {{dialogData.country}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Model:</strong> {{dialogData.model}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>RegNumber:</strong> {{dialogData.reg_number}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Status:</strong> {{dialogData.status}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Lat:</strong> {{dialogData.lat}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Lon:</strong> {{dialogData.lon}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Length:</strong> {{dialogData.length}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Draft:</strong> {{dialogData.draft}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Tags:</strong> {{dialogData.tags}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Description:</strong> {{dialogData.description}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>Photos:</strong> {{dialogData.photos}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title><strong>BoatgodId:</strong> {{dialogData.boatgod_id}}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closeDialog">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  name: 'Boats',
  data: () => ({
    boats: [],
    orderByItem: null,
    dialog: false,
    dialogData: {},
    loadingSearch: false,
    typingTimer: {},
    search: '',
    headers: [
      {
        text: 'Name',
        align: 'center',
        sortable: false,
        value: 'name'
      },
      {
        text: 'Status',
        align: 'center',
        sortable: false,
        value: 'status'
      },
      {
        text: 'Type',
        align: 'center',
        sortable: false,
        value: 'type'
      },
      {
        text: 'Port',
        align: 'center',
        sortable: false,
        value: 'port'
      },
      {
        text: 'Country',
        align: 'center',
        sortable: false,
        value: 'country'
      },
      {
        text: 'Action',
        align: 'center',
        sortable: false,
        value: 'id'
      }
    ],
    orderingBySelect: [
      {value: 'name', text: 'Name asc'},
      {value: '-name', text: 'Name desc'},
      {value: 'status', text: 'Status asc'},
      {value: '-status', text: 'Status desc'},
      {value: 'port', text: 'Port asc'},
      {value: '-port', text: 'Port desc'},
      {value: 'country', text: 'Country asc'},
      {value: '-country', text: 'Country desc'}
    ]
  }),
  methods: {
    getBoats () {
      this.loadingSearch = true
      const searchData = {}
      searchData['params'] = {}
      if (this.search) {
        searchData['params']['search'] = this.search
      }
      if (this.orderByItem) {
        searchData['params']['ordering'] = this.orderByItem
      }
      this.$store.dispatch('common/getBoats', searchData).then((res) => {
        this.boats = res.data
        this.loadingSearch = false
      }).catch(console.error)
    },
    keyupSearch () {
      this.loadingSearch = true
      clearTimeout(this.typingTimer)
      this.typingTimer = setTimeout(() => {
        this.getBoats()
      }, 1500)
    },
    keydownSearch () {
      clearTimeout(this.typingTimer)
    },
    viewItem (item) {
      this.dialogData = item
      this.dialog = true
    },
    closeDialog () {
      this.dialogData = {}
      this.dialog = false
    }
  },
  created () {
    this.getBoats()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
