<template>
  <div>
    <v-form v-model="valid">
      <v-container>
        <v-layout>
          <v-flex
                  xs12
                  md4
          >
            <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
            ></v-text-field>
          </v-flex>
          <v-flex
                  xs12
                  md4
          >
            <v-text-field
                    v-model="password"
                    :rules="passwordRules"
                    label="Password"
                    required
            ></v-text-field>
          </v-flex>
          <v-flex
                  xs12
                  md4
          >
            <v-btn color="info" @click="loginUser" :disabled="!valid">Login</v-btn>
          </v-flex>
          <v-flex
                  xs12
                  md4
          >
            <v-alert
                    :value="true"
                    type="error"
                    v-if="errors"
            >
              {{errors}}
            </v-alert>
          </v-flex>

        </v-layout>
      </v-container>
    </v-form>
  </div>
</template>

<script>
export default {
  name: 'Login',
  props: {
    msg: String
  },
  data: () => ({
    valid: false,
    errors: '',
    password: '',
    passwordRules: [
      v => !!v || 'Password is required',
      v => v.length >= 6 || 'Password must be more than 6 characters'
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'E-mail must be valid'
    ]
  }),
  methods: {
    loginUser: function () {
      this.errors = ''
      this.$store.dispatch('auth/signIn', {username: this.email, password: this.password})
        .then((res) => {
          if (res.data && res.data.token) {
            this.$router.push('boats')
          } else if (res.response) {
            if (res.response.data) {
              let _errors = ''
              Object.keys(res.response.data).map((key) => {
                _errors = res.response.data[key] && res.response.data[key][0]
              })
              this.errors = _errors
            }
          } else {
            this.errors = 'Something went wrong. Please try again later'
          }
        })
        .catch(error => {
          console.log('error', error)
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
