<template>
  <v-app>

    <h1>Welcome to Boats App</h1>
    <p>
      <v-btn to="/logout" v-if="isLogged" @click="logoutUser">Logout</v-btn>
    </p>
    <div>
      <img alt="Boats logo" src="./assets/logo.png">
    </div>

    <router-view/>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'App',
  computed: {
    ...mapState({
      isLogged: state => !!state.auth.token
    })
  },
  methods: {
    logoutUser () {
      this.$store.dispatch('auth/signOut')
      this.$router.push('/')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
